$search-spinner-color: #ccc;
$search-spinner-accent-color: #333;
$card-border-color: #ccc;
$card-hover-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

.search-loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  .search-spinner {
    width: 20px;
    height: 20px;
    border: 2px solid $search-spinner-color;
    border-top-color: $search-spinner-accent-color;
    border-radius: 50%;
    animation: spin 1s infinite linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid $card-border-color;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;

  img {
    width: 120px;
    height: 90px;
    object-fit: cover;
    margin-right: 10px;
  }

  h3 {
    font-size: 18px;
    margin: 0;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: $card-hover-box-shadow;
  }

  &:active {
    transform: scale(0.95);
  }
}
