.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.container .input-container {
  display: flex;
  margin-bottom: 20px;
}
.container .input-container .search-query-input,
.container .input-container .results-number-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.container .input-container .search-query-input {
  width: 300px;
  margin-right: 10px;
}
.container .input-container .results-number-input {
  width: 140px;
  text-align: center;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px;
}
.container .button-search,
.container .button-clear,
.container .button-copy {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.container .button-search {
  margin-right: 10px;
  background-color: #dc3545;
}
.container .button-search:hover {
  background-color: #c82333;
}
.container .button-search:active {
  transform: scale(0.95);
}
.container .button-clear {
  background-color: #333333;
}
.container .button-clear:hover {
  background-color: #555555;
}
.container .button-clear:active {
  transform: scale(0.95);
}
.container .button-copy {
  margin-right: 10px;
  background-image: linear-gradient(to right, #dc3545, #333333);
  transition: transform 0.3s ease;
}
.container .button-copy:hover {
  transform: scale(1.1);
}
.container .button-copy:active {
  transform: scale(0.95);
  transition: transform 0.3s ease, box-shadow 0.3s ease 0.3s;
}
.container .button-copy.active {
  box-shadow: 0 0 10px #dc3545;
}