.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

.search-query-input,
.results-number-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
}

.search-query-input {
    width: 300px;
    margin-right: 10px;
}

.results-number-input {
    width: 140px;
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px;
}

.button-search {
    margin-right: 10px;
    background-color: #dc3545;
}

.button-clear {
    background-color: #333333;
}

.button-search:hover {
    background-color: #c82333;
}

.button-clear:hover {
    background-color: #555555;
}

#copy-button {
    margin-right: 10px;
}