.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

.search-query-input,
.results-number-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
}

.search-query-input {
    width: 300px;
    margin: 0 5px;
}

.results-number-input {
    width: 140px;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    margin: 0 5px;
}