@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.notepad-container {
    margin: 2%;
}

.notepad-textarea {
    width: 400px;
    height: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    font-family: 'Montserrat', sans-serif;
}

.notepad-textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}